<!-- This Html Page contains changeable tags i.e.., dynamic content -->
{% extends 'static.html' %}
{% load static %}
{% block content %}
{% block avalible %}
{% endblock %}

{% for dest in dests %}
								
							
								
<div class="container-fluid">
    <div class="destination_image">
        <img src="{{dest.img.url}}" alt="">
                
        <!--div class="spec_offer text-center"><a href="#">Special Offer</a></div>
        
    </div-->
        
    <div class="destination_content">
        <div class="destination_title"><a href=""></a>
        </div>
        <div class="destination_subtitle">
            <p></p>
        </div>
        <!--div class="destination_price">From ${{dest.price}}</div--->
    </div>
</div>
{% endfor %}
{% endblock content %}

